<nav class="navbar header-color  navbar-default ">
    <div class="container-fluid">
      <div class="navbar-header ">
        <!-- <a href="#" class="navbar-brand">Vezeeta</a> -->
        <img alt=" | Book the Best Doctors and Get your Meds Online" 
        title="Book the Best Doctors in Egypt" 
        src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/31039/_next/static/images/whitelogowithdotcom.png" 
        itemprop="logo" class="navbar-brand">
      </div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li ><a style="color: white;" href="#">Login</a></li>
          <li ><a style="color: white;" [routerLink]="['/search']"
          routerLinkActive="active">Search</a></li>
          <li><a style="color: white;" href="#">Vezeeta for doctors</a></li>
          <li ><a style="color: white;" href="#">contact us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li> 
            <a style="cursor:pointer" (click)="onLogout()">logout</a>
          </li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" appDropdown>
            <a style="cursor:pointer" class="dropdown-toggle" style="color: white;"  role="button" >PROFILE NAME<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a style="cursor:pointer" [routerLink]="['/myprofile','manageprofile']" routerLinkActive="active" >My profile</a></li>
              <li><a style="cursor:pointer" >my appointments</a></li>
              <li><a style="cursor:pointer" >logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  