.header-style{
    background-color: rgb(0, 112, 205);
    height: 31px;
    padding: 14px 0px;
    top: 0px;
    width: 100%;
    display: block;
    clear: both;
    position: relative;
    z-index: 2;
    font-size: 12px;
    font-family: SourceSansPro !important;
}

.header-color{
    background-color: rgb(0, 112, 205);
}

a.header-font-style{
    color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}