<div class="row">
    <div class="col-xs-12">
        <div class=menu-top><p>Manage Profile</p></div>
        <form (ngSubmit)="onSubmit()" style="background-color: white;" #f="ngForm">
            <div class="row">
              <div class="col-xs-7 form-group">
                <label for="firstName">First Name:</label>
                
                <input id="firstName" type="text" class="form-group-control" name="firstName" ngModel required/>
              </div>

              <div class="col-xs-7 form-group">
                <label for="lastName">Last Name:</label>
                
                <input id="lastName" type="text" class="form-group-control" name="lastName" ngModel required/>
              </div>

              <div class="col-xs-7 form-group">
                <label for="DateOfBirth">Date of birth:</label>
                
                <input id="DateOfBirth" type="date" class="form-group-control" name="DateOfBirth" ngModel required/>
              </div>

              <div class="col-xs-7 form-group">
                <label for="email">Email:</label>
                
                <input id="email" type="email" class="form-group-control" name="email" ngModel required/>
              </div>

              <div class="col-xs-7 form-group">
                <label for="area">Area:</label>
                
                <input id="area" type="text" class="form-group-control" name="area" ngModel required/>
              </div>
              
              <div class="col-xs-7 form-group">
                <label for="phoneNumber">Phone Number:</label>
                
                <input id="phoneNumber" type="number" class="form-group-control" name="phoneNumber" ngModel required/>
              </div>
              
            </div>
            <div class="row">
              <div class="col-sm-1">
                <button  class="cyyCHS" type="submit" [disabled]="!f.valid">Save</button>
              </div>
               
        <div class="col-sm-1">
            <button   class="kCumXT" type="button" >Cancel</button>
        </div>
        </div>
        
              <!-- <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
              <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button> -->
            
          </form>
    </div>
</div>

  