.menu-top{
    
    border-radius: 11px 11px 0px 0px;
    padding: 6px 0px;
    font-size: 16px;
    background-color: rgb(0, 112, 205);
    color: rgb(255, 255, 255);
    text-align: center;
}
input{
    float: right; clear: both;
}


button.cyyCHS {
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    padding: 8px 10px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(239, 15, 15);
    border: none;
    white-space: nowrap;
    width: 100px;
    outline: none;
    position: relative;
    margin-right:20px;
    font-size: 13px !important;
}

button.kCumXT {
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    padding: 8px 10px;
    border: none;
    white-space: nowrap;
    width: 100px;
    outline: none;
    position: relative;
    margin-left:70px;
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 13px !important;
}