.cnszIw {
    transition: none 0s ease 0s;
    background-image: url("https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/31371/_next/static/images/search-header-background-en.jpg");
    background-repeat: no-repeat;
    direction: ltr;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-color: rgb(236, 236, 236);
    padding-bottom: 10px;
}