<div class="row">
    <div class="col-xs-12">
        <div class=menu-top><p>Change Password</p></div>
        <form (ngSubmit)="onSubmit()" style="background-color: white;" #f="ngForm">
            <div class="row">
              <div class="col-xs-7 form-group">
                <label for="password">Password</label>
                <input  id="password" type="password" class="form-group-control" name="password" ngModel required/>
              </div>

              <div class="col-xs-7 form-group">
                <label for="newpassword">New Password</label>
                <input id="newpassword" type="password" class="form-group-control" name="newpassword" ngModel required/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
                <button  class="cyyCHS" type="submit" [disabled]="!f.valid">Save</button>
              </div>
               
        <div class="col-sm-1">
            <button   class="kCumXT" type="button" >Cancel</button>
        </div>
        </div>
        
              <!-- <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
              <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button> -->
            
          </form>
    </div>
</div>

  