.fRQgVt {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 0px;
}

span.jUTPKV {
    width: 90%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    margin: 20px 5% 0px;
}

.hUmmXf {
    text-decoration: none;
    font-size: 14px;
    color: rgb(153, 153, 153);
    width: 100%;
    display: inline-block;
    line-height: 35px;
    text-indent: 20px;
    border-bottom: 1.5px solid rgb(238, 238, 238);
    text-align: left;
}

