<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <app-search-header></app-search-header> -->
        <!-- <app-user-profile></app-user-profile> -->
        <router-outlet></router-outlet>
      </div>
    </div>
</div>