<div class="jxYsnt">
    <div >
        <hr>
        <h4>{{doctor.entity}}/{{doctor.entityName}}</h4>
        <h5>{{doctor.area}}</h5>
        <h3>Name: {{doctor.firstName}} {{doctor.lastName}}</h3>
        <h5>Specialties:</h5>
        <ul>
            <li *ngFor="let specialty of doctor.specialties">{{specialty.title}}</li>
        </ul>
            <p>fee: {{doctor.fees}}</p>
    </div>
    <div class="fAbxzF">
        <app-booking-container [appointments]="doctor.appointmentsSet"></app-booking-container>
    </div>
</div>