.jxYsnt {
    background: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: 0px;
    direction: ltr;
    text-align: left;
    cursor: pointer;
    padding: 30px 20x 0px;
    max-width: calc(100vw - 270px);
    width: calc(952px);
}
.iwsPCZ {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 558px);
    padding: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.fAbxzF {
    position: relative;
    padding: 0px 100px;
    width: 280px;
    margin: auto;
    overflow: hidden;
    min-height: 268px;
}