<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
  <p>{{message}}</p>
  <div class="alert-box-actions">
    <button (click)="onClose()" class="btn btn-primary">Close</button>
  </div>
</div>
