/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(234, 231, 226);
    /* font-size: 12px; */
    margin: 0px;
    height: -webkit-fill-available;
    /* font-family: SourceSansPro !important; */
}