button.cyyCHS {
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    padding: 1em;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(239, 15, 15);
    border: none;
    white-space: nowrap;
    width: 100px;
    outline: none;
    position: relative;
    /* margin-right:20px; */
    font-size: 13px !important;
}

button.kCumXT {
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    padding: 1em;
    border: none;
    white-space: nowrap;
    width: 100px;
    outline: none;
    position: relative;
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 13px !important;
}

.strikethrough {
    color: grey;
    text-decoration: line-through;
  }