<p [ngClass]="appointment.isBooked ? 'strikethrough' : 'null' ">{{appointment.dateTime}}</p> 
<button *ngIf="!appointment.isBooked" class="cyyCHS" (click)="book()">book</button>
<input *ngIf="!appointment.isBooked" [(ngModel)]="comment"/> 
<button *ngIf="appointment.isBooked&&appointment.patientId===patientId" class="kCumXT" (click)="unbook()">unbook</button>
