.URptm {
    max-height: 58px;
    width: 50%;
    margin: auto;
    border: 0.5px solid rgb(196, 196, 196);
    padding: 0px 1px 0.5px;
    border-radius: 11px;
    box-shadow: rgb(204, 204, 204) 0px 0px 10px;
    display: flex;
    direction: ltr;
}
.bZcYyu {
    max-height: 58px;
    display: flex;
    width: 100%;
    direction: ltr;
}
.kzhTst {
    position: relative;
    display: inline-block;
    direction: rtl;
    border: 0px;
    width: 100%;
}
.yJuqT {
    direction: rtl;
    cursor: pointer;
    border-width: 0px 1px 0px 0px;
    border-top-style: initial;
    border-bottom-style: initial;
    border-top-color: initial;
    border-bottom-color: initial;
    border-image: initial;
    border-right-style: solid;
    border-right-color: rgb(196, 196, 196);
    border-left-style: initial;
    border-left-color: initial;
    position: unset;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.hcVaUm {
    opacity: -0.75;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 5;
    direction: ltr;
}

.cVIbcx {
    max-height: 58px;
    position: relative;
    display: flex;
    direction: ltr;
    cursor: pointer;
    border: 0px;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    min-width: 130px;
    color: rgb(255, 255, 255);
    background: rgb(239, 15, 15);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: rgb(239, 15, 15) 0px 0px 0px 1px;
    width: 100%;
    margin: 0px -1px 0px 0px;
    border-radius: 0px 10px 10px 0px;
}