<div class="URptm">
    <form (ngSubmit)="onSubmit()" style="background-color: white;" #f="ngForm">
<div class="bZcYyu">
    <div class="col-xs-4 kzhTst yJuqT">
        <label for="specialty">Search by Specialty</label>
        <br/>
        <input  id="specialty" type="text" class="form-group-control" name="specialty" [(ngModel)]="specialtyFilter"/>
    </div>
    <div class="col-xs-4 kzhTst yJuqT">
        <label for="area">Search by Area</label>
        <br/>
        <input  id="area" type="text" class="form-group-control" name="area" [(ngModel)]="areaFilter"/>
    </div>
    <div class="col-xs-4 kzhTst yJuqT">
        <label for="name">Search by Name</label>
        <br/>
        <input  id="name" type="text" class="form-group-control" name="name" [(ngModel)]="nameFilter"/>
    </div>
    <div class="col-xs-4 cVIbcx" style="box-shadow: rgb(239, 15, 15) 0px 0px 0px 1px; border: 0.5px solid rgb(239, 15, 15);">
        <button type="submit" style="box-shadow: rgb(239, 15, 15) 0px 0px 0px 1px; border: 0.5px solid rgb(239, 15, 15); background: rgb(239, 15, 15);">Search</button>
    </div>
</div>
</form>
</div>
<app-search-result-container [nameFilter]="nameFilter" [areaFilter]="areaFilter" [specialtyFilter]="specialtyFilter"></app-search-result-container>